*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
        margin: 0;
        padding: 0;
        height: 100vh;
        min-height: fit-content;
        /* background-color: #000000; */
        font-family: 'Times New Roman', Times, serif;
    }
    .navLinks a{
        text-decoration: none;
        color: rgba(255, 255, 255, 0.72);
       
    }
    .navLinks{
        width: 60px;
        padding: 5px  20px;
        border-radius: 4.5px;
    }

    .navLinks:hover{
        transition-duration: 0.5s;
        background-color: #484848;
        color: white;
    }
    main{
        width: 100%;
        height: fit-content;
        background-color: #484848;
        background-image: url('../media/UntitledccCback.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 50px;
        /* background-attachment: fixed; */
    }

.contactWrapper{
    background-color: transparent;
    border-radius: 4.5px;
}
.formTextBox{
    /* background-color: #2bff00; */
    margin: auto;
    padding: 20px;
}
.formTextBox h2{
    font-size: 22px;
    font-family: 'Vollkorn SC', serif;
    color: rgb(0, 123, 255);
}
.formTextBox p{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
.formBoxes{
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.939);
    /* box-shadow: 0 0 10px 0 black; */
}
.formBoxes label{
    font-family: 'Kanit', sans-serif;
}
.infoBoxes{
    background-color: rgba(38, 79, 228, 0.72);
    /* display: flex;
    align-items: center;
    justify-content: center; */
    box-shadow: 0 0 10px 0 black;
}
.infoTable{
    margin: 20px 5px;
}
.iconBox{
    width: 50px;
    height: 50px;
    text-align: center;
    margin: auto;
    /* background-color: #484848; */
}
.iconBox svg{
    width: 30px;
    height: 30px;
}

footer{
    text-align: center;
    background-color: black;
    color: whitesmoke;
    width: 100%;
    height: fit-content;
}