*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
        margin: 0;
        padding: 0;
        height: 100vh;
        min-height: fit-content;
        /* background-color: #000000; */
        font-family: 'Times New Roman', Times, serif;
    }
    header{
        width: 100%;
        height: 60px;
        background-color: rgb(0, 0, 0);
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #menuIcon{
        display: none;
    }
    
    #contactBox{
        width: 300px;
        height: 300px;
        background-color: #d1eefc;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: auto;
    }
    .contactIcon{
        width: 30px;
        margin: 20px 5px;
    }
    a{
        text-decoration: none;
        color: rgb(0, 0, 0);
        /* border: 1px solid black; */
        padding: 5px 15px;
        margin: 0 8px;
        border-radius: 3.5px;
        background-color: rgb(11, 113, 0);
        width: 100px;
        text-align: center;
        font-family: 'Almendra', serif;
    }
    a:hover{
        transition-duration: 1s;
        background-color: #2bff00;
    }
    nav{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    #sideMnu{
        display: none;
    }
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
    /* <!--//////////////////////// Main Home page/////////////////////// --> */
    #main_introBox{
        width: 100%;
        height: 100vh;
        background-image: url('../media/spacecc.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #textBox{
        width: 360px;
        height: 250px;
        max-height: fit-content;
        background-color: #00000067;
        text-align: center;
        padding: 20px 0;
        margin: 10px 0;
    }
    h1{
        color: #20c4c0;
        font-family: Arial, Helvetica, sans-serif;
        margin: 5px 10px;
    }
    #textBox h2{
        margin: 5px;
        color: whitesmoke;
    }
    #textBox p{
        margin: 5px;
        color: whitesmoke;
    }
    #hireBtn{
        width: fit-content;
        height: 50px;
        border: 1px solid black;
        border-radius: 4px;
        background-color: #7fc4fb;
        color: whitesmoke;
        padding: 5px 10px;
    }
    #iconHolder{
        width: 100%;
        height: 50px;
        /* background-color: green; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .followIcons{
        margin: 10px;
    }
    #aboutBox{
        width: 100%;
        height: 40vh;
        background-color: #6c7aab;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    main{
        margin: 15px 0;
        width: 100%;
        max-height: fit-content;
        height: 180px;
    }
    main h2{
        color: #0a1337;
        margin: 0;
        padding: 0;
    }
    #downloadResumeBtn{
        width: fit-content;
        height: 50px;
        border: .5px solid black;
        border-radius: 4px;
        background-color: #447cdc;
        color: whitesmoke;
        margin: 0;
        padding: 5px 10px;
    }

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////Project page////////////////////////////////////// */



/* <!--////////////////////////H2 main text/////////////////////// --> */
#projectAniText{
    font-size: 24px;
    color: #2bff00;
    font-weight: lighter;
    font-family: 'Space Mono', monospace;
    position: absolute;
    top: 30%;
    left: 50%;
    margin: auto;
}

/* <!--//////////////////////// Intro container section/////////////////////// --> */
#project_introBlock{
    width: 100%;
    height: 100vh;
    background-image: url('../media/spacecc.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

/* <!--//////////////////////// about section/////////////////////// --> */
#aboutProject{
    width: 100%;
    height: 60vh;
    background-color: #03012d;
    display: flex;
    align-items: center;
    justify-content: center;
}
#aboutBlock{
    color: white;
    width: 80%;
    height: 60%;
}
#aboutBlock h2{
    margin: 20px;
    font-size: 26px;
    color: #2bff00;
    font-family: 'Cormorant SC', serif;
}
#aboutBlock p{
    margin: 20px;
    font-family: 'Space Mono', monospace;
}

/* <!--//////////////////////// spacer/////////////////////// --> */

#spacer{
    width: 100%;
    height: 80vh;
    background-image: url('../media/UntitledSkyMEDesign.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* <!--//////////////////////// project section/////////////////////// --> */
.projContainer{
    width: 100%;
    height: 100vh;
    background-color: #03012d;
    display: grid;
    grid-template-columns: 100%;
}

/* <!--//////////////////////// project article section/////////////////////// --> */
.articles{
    width: 100%;
    height: 60vh;
    text-align: center;
    color: whitesmoke;
    background-color: #03012d;
    overflow: hidden;
}

.articles h2{
    font-size: 28px;
    margin: 10px 10px;
    color: #2bff00;
    font-family: 'Cormorant SC', serif;
    /* background-color: #0c0028; */
}

.articles h3{
    font-size: 26px;
    text-align: start;
    margin: 5px 5px;
    color: #13265a;
    font-family: 'Cormorant SC', serif;
}

.articles p{
    margin: 8px;
    font-size: 16px;
    margin: 10px;
    font-family: 'Space Mono', monospace;
}

.articles button{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 4px;
    background-color: rgb(94, 133, 241);
    margin: auto;
    padding: 0;
    color: whitesmoke;
    font-family: 'Almendra', serif;
}

.asideNotActivated{
    display: none;
}
.asideActivated{
    background-color: gray;
    /* margin: 10px; */
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
table{
    width: 75%;
    margin: 0 10px;
    /* border: 1px solid black; */
}
th{
    /* border: 1px solid black; */
    font-size: 22px;
    color: #2bff00;
    text-align: start;
    font-family: 'Almendra', serif;
}
td{
    /* border: 1px solid black; */
    font-size: 18px;
    color: black;
    text-align: start;
}

.btnBox{
    /* background-color: #2bff00; */
    width: 20%;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnBox button{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 4px;
    background-color: rgb(94, 133, 241);
    margin: auto;
    padding: 0;
    color: whitesmoke;
    font-family: 'Almendra', serif;
}
#wraperImages_proj, #wraperImages_market, #wraperImages_design{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
}
#wraperImages_market .stragWraper a{
    background-color: transparent;
}
.linkPics{
    background-color: transparent;
}
.pics:hover{
    padding: 5px 10px;
    box-shadow: 0 0 10px 0 black;
    transition-duration: 0.5s;
}

/* /////////////////////////////////////////////////////////////////// */
#secondSpacer{
    width: 100%;
    height: 80vh;
    background-color: #03012d;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style the form element with a border around it */
#newsForm {
    border: 4px solid #f1f1f1;
    margin: auto;
  }
  
  /* Add some padding and a grey background color to containers */
  .formNewsContainer {
    padding: 20px;
    background-color: #f1f1f1;
  }
  .formNewsContainer h2{
    font-size: 22px;
    font-family: 'Cormorant SC', serif;
    font-weight: bolder;
  }
  
  .formNewsContainer p{
    font-family: 'Space Mono', monospace;
    font-size: 14px;
  }
  
  /* Style the input elements and the submit button */
  #newsForm input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Add margins to the checkbox */
  #newsForm input[type=checkbox] {
    margin-top: 16px;
  }
  
  /* Style the submit button */
  #newsForm input[type=submit] {
    background-color: #04AA6D;
    color: white;
    border: none;
  }
  
  #newsForm nput[type=submit]:hover {
    opacity: 0.8;
  }
































/* <!--//////////////////////// footer section/////////////////////// --> */
  footer{
    height: fit-content;
    background-color: #06081b;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: whitesmoke;
    text-align: center;
}







































/* /////////////////////////////////Responsive for mobile phones 600px //////////////////////////////// */

@media only screen and (max-width: 660px) {
    /* /////////////////////////////////Main page //////////////////////////////// */
    body{
        height: fit-content;
    }

    .resNav{
        display: none;
    }

    #menuIcon{
        display: block;
    }

    #contactBox{
        width: 100%;
        height: 100px;
        background-color: #d1eefc;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .contactIcon{
        width: 30px;
        margin: 20px 5px;
    }

    a{
        text-decoration: none;
        color: whitesmoke;
    }

    nav{
        width: 100%;
        height: 100px;
        background-color: #246ac4;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }

    li{
        list-style: none;
        display: inline-block;
        /* background-color: teal; */
        padding: 5px 10px ;
        margin: 2px;
    }

    header{
        background-color: #bcc4e6;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: start;
    }

    #sideMnu{
        display: none;
        width: 100%;
        height: 100%;
        background-color: #06081b;
        position: absolute;
    }
    
    #main_introBox{
        width: 100%;
        height: 100vh;
        background-color: #06081b;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #textBox{
        width: 100%;
        height: 250px;
        max-height: fit-content;
        background-color: #447cdcdd;
        text-align: center;
        padding: 20px 0;
        margin: 10px 0;
    }

    h1{
        color: #20c4c0;
        font-family: Arial, Helvetica, sans-serif;
        margin: 5px 10px;
    }

    #textBox h2{
        margin: 5px;
        color: whitesmoke;
    }

    #textBox p{
        margin: 5px;
        color: whitesmoke;
    }
    
    #hireBtn{
        width: fit-content;
        height: 50px;
        border: 1px solid black;
        border-radius: 4px;
        background-color: #7fc4fb;
        color: whitesmoke;
        padding: 5px 10px;
    }

    #iconHolder{
        width: 100%;
        height: 50px;
        /* background-color: green; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .followIcons{
        margin: 10px;
    }

    #aboutBox{
        width: 100%;
        height: 40vh;
        background-color: #6c7aab;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main{
        margin: 15px 0;
        width: 100%;
        max-height: fit-content;
        height: 180px;
    }

    main h2{
        color: #0a1337;
        margin: 0;
        padding: 0;
    }
    
    #downloadResumeBtn{
        width: fit-content;
        height: 50px;
        border: .5px solid black;
        border-radius: 4px;
        background-color: #447cdc;
        color: whitesmoke;
        margin: 0;
        padding: 5px 10px;
    }

    footer{
        height: fit-content;
        background-color: #06081b;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        color: whitesmoke;
        text-align: center;
    }

    /* /////////////////////////////////Project page //////////////////////////////// */

    .projContainer{
        height: fit-content;
    }

    .articles{
        text-align: center;
        height: 100vh;
        /* max-height: fit-content; */
        width: 100%;
        color: whitesmoke;
        margin: 10px 0;
    }

    .articles p{
        margin: 8px;
        font-size: 14px;
    }

    .articles button{
        width: 100px;
        height: 30px;
        border: none;
        border-radius: 4px;
        background-color: #9dc1f4;
        margin: 10px 0;
        padding: 0;
        color: whitesmoke;
    }

    .asideActivated{
        height: 100px;
    }
    
    table{
        border: 1px solid black;
        height: 100px;
        width: 100%;
    }

    th{
        font-size: small;
    }

    td{
        font-size: small;
    }

    #wraperImages_proj, #wraperImages_market, #wraperImages_design{
        width: 100%;
        height: 120px;
        background-color: transparent;
    }

    .linkPics{
        background-color: transparent;
    }

    .pics{
        width: 100px;
        margin: 10px;
    }

    /* /////////////////////////////////Contact page //////////////////////////////// */

    #contact_introBox{
        color: whitesmoke;
        width: 100%;
        height: 100vh;
        background-color: #13265a;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
    }
    
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
}
}